<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Page Computer</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/1">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Commands</a>
                </li>
            </ul>
            <span class="navbar-text">
                User
            </span>
        </div>
    </nav>
    <div class="container-fluid" style="position:fixed; top: 10%">

        <form>
            <div class="form-row">
                <div class="col form-group">
                    <label for="Hostname">Hostname</label>
                    <input value="{{computer.name}}" type="text" class="form-control" placeholder="Hostname">
                </div>
                <div class="col form-group">
                    <label for="IP">IP</label>
                    <input value="{{computer.ip}}" type="text" class="form-control" placeholder="IP">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label for="UserLogged">User Logged</label>
                    <input value="{{computer.user}}" type="text" class="form-control" placeholder="User Logged">
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label for="User">User</label>
                    <input value="{{computer.userLogin}}" type="text" class="form-control" placeholder="User">
                </div>
                <div class="col form-group">
                    <label for="Password">Password</label>
                    <input value="{{computer.password}}" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="col-1 form-group">
                    <label for="validar">Validar</label>
                    <button type="button" class="form-control btn btn-info">V</button>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="col-1 form-group">
                    <button type="button" class="btn btn-success">Salvar</button>

                </div>
                <div class="col-1 form-group">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>